* {
    /* css universal memungkinkan semua tag yang ada didalam html terpengaruh dengan css universal*/
    box-sizing: border-box;
}

body {
    margin: 10;
}

.header {
    background-image: url(../bg\ mars.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    padding: 20px;
    text-align: center;
    color: black;
    background-size: cover;
}

.navbar {
    overflow: hidden;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
}

.navbar a{
    float: left;
    text-decoration: none;
    padding: 14px 16px;
    text-align: center;
}

.navbar a:hover{
    background-color: aliceblue;
    color: black;
}

.column {
    float: left;
    padding: 50px;
    background-color: white;
}

.column.side {
    width: 25%;
}

.column.middle {
    width: 50%;
}

.row:after {
    content:"";
    display: table;
    clear: both; /* membersihkan float left sebelumnya */
}

.footer {
    background-color: aqua;
    padding: 10px;
    text-align: center;
}