/* contoh selector di tag eksternal */

p{
    color: blue;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 12pt;
}

body{
    background-color: pink;
    background-image: url(../bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

fieldset{  /* gruping css */
    border-width: 1px;
    border-color: chocolate;
    border-radius: 30px;
}

legend{
    padding: 10px;
    background-color: brown;
    color: white;
    font-weight: bold;
    font-size: 14pt;
}

table{
    border: 10px; 
    margin: auto;   
}

td{
    padding: 5px;
    border: 1px solid green;
}

tr:hover{
    background-color: blue;
    color: red;
    font-size: 20pt;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
}

/* contoh selector id */
#paragraph{
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 10px;
    color: aqua;
}

a.item:link, a.item:visited, a.item:active{
    text-decoration: none; /*menghilangkan garis pada link */
    list-style: none; /* menghilangkan titik pada list */
    display: block; /* mendisplay a sebagai block */
    float: left; /*  */
    padding: 2px 3px;
    background-color: white;

}